<form novalidate (ngSubmit)="submit()" [formGroup]="form">
  <h2> <b> Londres {{data.id_detalle}}</b></h2>
  <div class="row">
    <div class="col" *ngIf="type == 1">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS CON EL TRÁMITE ADMINISTRATIVO PARA LA ATENCION</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 2">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS CON  LOS PROCESOS O PROCEDIMIENTOS  ASISTENCIALES</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 3">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS CON FALLAS EN LOS REGISTROS CLINICOS</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>INFECCIÓN OCASIONADA POR LA ATENCIÓN EN SALUD</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 5">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS CON LA MEDICACIÓN O LA ADMINISTRACIÓN DE LÍQUIDOS PARENTERALES</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS CON LA SANGRE O SUS DERIVADOS</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 7">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS CON LA ELABORACIÓN DE DIETAS O DISPENSACIÓN DE ALIMENTOS</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 8">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS CON LA ADMINISTRACIÓN DE OXIGENO O GASES MEDICINALES</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 9">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS  CON LOS DISPOSITIVOS Y EQUIPOS MEDICOS</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 10">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS  CON COMPORTAMIENTO O CREENCIAS DEL PACIENTE- FAMILIA</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 11">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>CAÍDA DE PACIENTES</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 12">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>ACCIDENTES DE PACIENTES</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 13">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADOS CON LA INFRAESTRUCTURA O EL AMBIENTE FISICO</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 14">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADO CON LA GESTIÓN DE LOS RECURSOS O CON LA GESTION ORGANIZACIONAL</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col" *ngIf="type == 15">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RELACIONADO CON LABORATORIO CLINICO / PATOLOGIA</mat-label>
        <mat-select placeholder="Seleccione..." required formControlName="Select_Depende_Tipo" [disabled]="realizado">
          <mat-option *ngFor="let c of options" value={{c.option}}>{{c.option}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>

  <h2> <b> FASE I: OBTENCIÓN Y ORGANIZACIÓN DE LA INFORMACIÓN </b></h2>
  <!-- FASE I: OBTENCIÓN Y ORGANIZACIÓN DE LA INFORMACIÓN -->
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Análisis de la Historia Clínica, Protocolos, Procedimientos</mat-label>
        <input matInput placeholder="Observacion" formControlName="Fase1_Analisis" maxlength="500" required [disabled]="realizado">
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Entrevista a las personas que intervienen en el proceso</mat-label>
        <input matInput placeholder="Observacion" formControlName="Fase1_Entrevista" maxlength="500" required [disabled]="realizado">
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Otros mecanismos como: Declaraciones, Observaciones, etc.</mat-label>
        <input matInput placeholder="Observacion" formControlName="Fase1_Otros_Mecanismos" maxlength="50" required [disabled]="realizado">
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>CRONOLOGÍA DEL INCIDENTE O EVENTO ADVERSO</mat-label>
        <input matInput placeholder="Observacion" formControlName="Fase1_Cronologia" maxlength="2000" required [disabled]="realizado">
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>

  <h2> <b> FASE II: ÁRBOL DEL PROBLEMA </b></h2>
  <!-- FASE II: ÁRBOL DEL PROBLEMA -->
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>ACCIONES INSEGURAS</mat-label>
        <textarea [disabled]="realizado" matInput placeholder="Observacion" formControlName="Fase2_Acciones_Inseguras" maxlength="2000" required>
        </textarea>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Equipo</mat-label>
        <mat-select formControlName="Fase2_Equipo" placeholder="Seleccione..." [disabled]="realizado">
          <mat-option *ngFor="let c of CombosLondresService.fase2_equipo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Fase2_d')">
          {{ check('Fase2_d') }}
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Observacion</mat-label>
        <textarea [disabled]="realizado" matInput placeholder="Observacion" formControlName="Fase2_Equipo_Observaciones" maxlength="2000" required>
        </textarea>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Individuo</mat-label>
        <mat-select formControlName="Fase2_Individuo" placeholder="Seleccione..." [disabled]="realizado">
          <mat-option *ngFor="let c of CombosLondresService.fase2_individuo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Fase2_d')">
          {{ check('Fase2_d') }}
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Observacion</mat-label>
        <textarea matInput placeholder="Observacion" formControlName="Fase2_Individuo_Observaciones" maxlength="2000" required [disabled]="realizado">
        </textarea>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Administrativos</mat-label>
        <mat-select formControlName="Fase2_Administrativos" placeholder="Seleccione..." [disabled]="realizado">
          <mat-option *ngFor="let c of CombosLondresService.fase2_administrativo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Fase2_d')">
          {{ check('Fase2_d') }}
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Observacion</mat-label>
        <textarea matInput placeholder="Observacion" formControlName="Fase2_Administrativos_Observaciones" maxlength="2000" required [disabled]="realizado">
        </textarea>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tareas y tecnologias</mat-label>
        <mat-select formControlName="Fase2_Tareas" placeholder="Seleccione..." [disabled]="realizado">
          <mat-option *ngFor="let c of CombosLondresService.fase2_tecnologia" value={{c.Id}}>{{c.Descripcion}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Fase2_d')">
          {{ check('Fase2_d') }}
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Observacion</mat-label>
        <textarea matInput placeholder="Observacion" formControlName="Fase2_Tareas_Observaciones" maxlength="2000" required [disabled]="realizado">
        </textarea>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Paciente</mat-label>
        <mat-select formControlName="Fase2_Paciente" placeholder="Seleccione..." [disabled]="realizado">
          <mat-option *ngFor="let c of CombosLondresService.fase2_paciente" value={{c.Id}}>{{c.Descripcion}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="validate('Fase2_d')">
          {{ check('Fase2_d') }}
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Observacion</mat-label>
        <textarea matInput placeholder="Observacion" formControlName="Fase2_Paciente_Observaciones" maxlength="2000" required [disabled]="realizado">
        </textarea>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>

  <h2> <b> FASE II: ANALISIS DEL PROBLEMA </b></h2>
  <!-- FASE II: ANALISIS DEL PROBLEMA -->
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Análisis del problema </mat-label>
        <textarea matInput placeholder="Observacion" formControlName="Fase2_Analisis_Problema" maxlength="2000" required [disabled]="realizado">
        </textarea>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>



  <h2> <b> FASE III: CLASIFICACION SEGÚN ANALISIS </b></h2>

    <!-- EVENTO ADVERSO TIPO/ESTADO -->
    <div class="row">
      <div class="col">
        <div class="row">
          <label class="example-margin center"> <h2> <b>Tipo:</b></h2> </label>
          <div class="col center my-3">
            <button mat-raised-button class="bg-secondary" (click)="tipo('leve')" [ngClass]="{
              'bg-primary': form.value.Evento_Adverso_Tipo == 'leve'
            }">Leve</button>
          </div>
          <div class="col center my-3">
            <button mat-raised-button class="bg-secondary" (click)="tipo('moderado')" [ngClass]="{
              'bg-primary': form.value.Evento_Adverso_Tipo == 'moderado'
            }">Moderado</button>
          </div>
          <div class="col center my-3">
            <button mat-raised-button class="bg-secondary" (click)="tipo('grave')" [ngClass]="{
              'bg-primary': form.value.Evento_Adverso_Tipo == 'grave'
            }">Grave</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <label class="example-margin center"> <h2> <b>Estado:</b></h2> </label>
          <div class="col center my-3">
            <button mat-raised-button class="bg-secondary" (click)="estado('prevenible')" [ngClass]="{
              'bg-primary': form.value.Evento_Adverso_Estado == 'prevenible'
            }">Prevenible</button>
          </div>
          <div class="col center my-3">
            <button mat-raised-button class="bg-secondary" (click)="estado('noPrevenible')" [ngClass]="{
              'bg-primary': form.value.Evento_Adverso_Estado == 'noPrevenible'
            }">No prevenible</button>
          </div>
        </div>
      </div>
    </div>
  <!-- FASE III: CLASIFICACION SEGÚN ANALISIS  -->
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Complicación / Incidente</mat-label>
        <textarea matInput placeholder="Observacion" formControlName="Fase3_Complicacion" maxlength="50" required [disabled]="realizado">
        </textarea>
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-label>FUE ABORADADO LA SEGUNDA VICTIMA</mat-label>
      <section class="example-section my-3">
        <mat-radio-group formControlName="Fase3_Preg_Segunda" [disabled]="realizado">
          <mat-radio-button class="example-margin" value="SI">Sí</mat-radio-button>
          <mat-radio-button class="example-margin" value="NO">No</mat-radio-button>
        </mat-radio-group>
      </section>
      <!-- <mat-error *ngIf="validate('naranjo7')">
        {{ check('naranjo7') }}
      </mat-error> -->
    </div>
    <div class="col">
      <mat-label>FUE ABORADADO LA TERCERA  VICTIMA</mat-label>
      <section class="example-section my-3">
        <mat-radio-group formControlName="Fase3_Preg_Tercera" [disabled]="realizado">
          <mat-radio-button class="example-margin" value="SI">Sí</mat-radio-button>
          <mat-radio-button class="example-margin" value="NO">No</mat-radio-button>
        </mat-radio-group>
      </section>
      <!-- <mat-error *ngIf="validate('naranjo8')">
        {{ check('naranjo8') }}
      </mat-error> -->
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>QUE ACCIONES SE TOMARON FRENTE A LA SEGUNDA VICTIMA </mat-label>
        <input matInput placeholder="Observacion" formControlName="Fase3_Acciones_Segunda" maxlength="50" required [disabled]="realizado">
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>QUE ACCIONES SE TOMARON FRENTE A LA TERCERA VICTIMA </mat-label>
        <input matInput placeholder="Observacion" formControlName="Fase3_Acciones_Tercera" maxlength="50" required [disabled]="realizado">
        <!-- <mat-error *ngIf="validate('Servicio_Id')">
          {{ check('Servicio_Id') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type='button' mat-raised-button color="warn"  (click)="cancelar()">Cancelar</button>
    </div>
    <div class="col">
      <button mat-raised-button class="bg-primary" type="submit" [disabled]="realizado" style="color: #fff">Guardar</button>
    </div>
  </div>
</form>
<div class="row my-3">
  <div class="col" *ngIf="realizado">
    <button mat-button class="bg-secondary" style="margin-bottom: 10px" (click)="borrar()">Borrar</button>
  </div>
  <div class="col">
    <button type='button' mat-raised-button color="warn" [routerLink]="['/pdf/' + data.all_data.Master.id]" >Generar pdf</button>
  </div>
  <div class="col">
    <button type='button' mat-raised-button class="bg-secondary"  (click)="mejoras()">Oportunidades Mejoras</button>
  </div>
</div>
