<form novalidate (ngSubmit)="submit()" [formGroup]="form">
  <h2> <b> Investigación 5Ms </b></h2>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Mano de obra / Persona</mat-label>
        <input matInput placeholder="Mano de obra / Persona" formControlName="M5_1" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('M5_1')">
          {{ check('M5_1') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Metodo / Procedimiento</mat-label>
        <input matInput placeholder="Metodo / Procedimiento" formControlName="M5_2" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('M5_2')">
          {{ check('M5_2') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Materia prima / insumo</mat-label>
        <input matInput placeholder="Materia prima / insumo" formControlName="M5_3" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('M5_3')">
          {{ check('M5_3') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Maquinaria / Equipos</mat-label>
        <input matInput placeholder="Maquinaria / Equipos" formControlName="M5_4" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('M5_4')">
          {{ check('M5_4') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Medio ambiente</mat-label>
        <input matInput placeholder="Medio ambiente" formControlName="M5_5" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('M5_5')">
          {{ check('M5_5') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Otro...</mat-label>
        <input matInput placeholder="Otro" formControlName="M5_Otro" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('M5_Otro')">
          {{ check('M5_Otro') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type='button' mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    </div>
    <div class="col" *ngIf="!realizado">
      <button mat-raised-button class="bg-primary" type="submit" style="color: #fff">Enviar</button>
    </div>
  </div>
</form>
<div class="row my-3">
  <!-- <div class="col" *ngIf="realizado">
    <button mat-button class="bg-secondary" style="margin-bottom: 10px" (click)="borrar()">Borrar</button>
  </div> -->
  <div class="col">
    <button type='button' mat-raised-button class="bg-secondary"  (click)="mejoras()">Oportunidades Mejoras</button>
  </div>
</div>
