<form novalidate (ngSubmit)="submit()" [formGroup]="myForm">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Consulta de registros de seguridad del paciente</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-progress-bar *ngIf="loadingMain" mode="indeterminate"></mat-progress-bar>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Codigo" (focus)="cancelar()" formControlName="codigo">
                        <mat-error *ngIf="validate('codigo')">
                            {{ check('codigo') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Numero de Documento" (focus)="cancelar()"
                            formControlName="documento">
                        <mat-error *ngIf="validate('documento')">
                            {{ check('documento') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Ingresa la fecha</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="fechaInicio" (dateChange)="cambioFecha()"
                                placeholder="fecha Inicio">
                            <input matEndDate formControlName="fechaFin" (dateChange)="cambioFecha()"
                                placeholder="fecha Fin">
                        </mat-date-range-input>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Tipo de novedad" formControlName="novedad">
                            <mat-option *ngFor="let data of novedades" [value]="data.id">
                                {{ data.descripcion }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="validate('novedad')">
                            {{ check('novedad') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- {{ myForm.value | json}} -->
        </mat-card-content>
        <mat-card-actions>
            <div class="row">
                <div class="col">
                    <button type='button' mat-raised-button color="warn" [disabled]="loadingMain"
                        (click)="cancelar()">Cancelar</button>
                </div>
                <div class="col">
                    <button mat-raised-button color="primary" [disabled]="loadingMain" type="submit">Consultar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</form>

<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary"
                    (click)="detalles(row.id)">Detalles</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>