<form novalidate (ngSubmit)="submit()" [formGroup]="form">
    <h2> <b> Agregar nueva accion</b></h2>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Descripcion</mat-label>
                <textarea matInput #oportunidad placeholder="Descripcion" formControlName="Descripcion" cols="5"
                    rows="5" maxlength="500" required></textarea>
                <!-- <input matInput placeholder="Descripcion" formControlName="Descripcion" maxlength="500" required> -->
                <mat-error *ngIf="validate('Descripcion')">
                    {{ check('Descripcion') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-select placeholder="Responsable" formControlName="Responsable" required>
                    <mat-option *ngFor="let data of responsables" [value]="data.Id">
                        {{ data.NombreCompleto }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="validate('Responsable')">
                    {{ check('Responsable') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fecha vencimiento</mat-label>
                <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="FechaVencimiento" required
                    placeholder="Fecha Vencimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="validate('FechaVencimiento')">
                    {{ check('FechaVencimiento') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col"></div>
    </div>
</form>
<!-- {{this.form.value | json}} -->

<div class="row my-3">
    <ng-container *ngIf="loading">
        <p style="margin-top: 20px; margin-left: 20px;">Guardando por favor espere...</p>
    </ng-container>
    <div class="col">
        <button type='button' [disabled]="loading" mat-raised-button class="bg-secondary"
            (click)="submit()">Agregar</button>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn" [disabled]="loading">Cerrar</button>
</div>