<form novalidate (ngSubmit)="submit()" [formGroup]="form">
  <h2> <b> Oportunidades de mejora</b></h2>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput placeholder="¿Código?" formControlName="Code" maxlength="10" required>
        <mat-error *ngIf="validate('Code')">
          {{ check('Code') }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
          <mat-select placeholder="Responsable" formControlName="Responsables">
              <mat-option *ngFor="let data of responsables" [value]="data.Usuario">
                  {{ data.NombreCompleto }}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="validate('Responsables')">
              {{ check('Responsables') }}
          </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>¿Cual?</mat-label>
        <textarea matInput #oportunidad placeholder="¿Cual?" formControlName="Cual" maxlength="500" required></textarea>
        <mat-hint align="end">{{oportunidad.value.length}} / 300</mat-hint>
        <mat-error *ngIf="validate('Cual')">
          {{ check('Cual') }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="row my-3">
  <div class="col">
    <button type='button' mat-raised-button class="bg-secondary" [disabled]="sending"  (click)="agregar()">Agregar</button>
  </div>
</div>

<div class="mat-elevation-z8" *ngIf="this.mejoras.length > 0">
  <table #table mat-table class="full-width" [dataSource]="mejoras" matSort aria-label="Elements">
      <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
        <td mat-cell *matCellDef="let row">{{row.Codigo_Externo }}</td>
      </ng-container>

      <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mejoras</th>
          <td mat-cell *matCellDef="let row">{{row.Descripcion}}</td>
      </ng-container>

      <ng-container matColumnDef="Responsable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsables </th>
          <td mat-cell *matCellDef="let row">{{row.Responsable}}</td>
      </ng-container>

      <ng-container matColumnDef="Accion">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let row"> <button mat-raised-button color="warn"
                (click)="eliminar(row.Codigo_Externo)">Eliminar</button></td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="mejoras?.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator>
</div>

<div class="row my-3"  *ngIf="this.mejoras.length > 0">
  <div class="col">
    <button type='button' mat-raised-button class="bg-primary"  (click)="submit()">Enviar</button>
  </div>
</div>

