<form novalidate (ngSubmit)="submit()" [formGroup]="form">
  <h2> <b> Oportunidades de mejora</b></h2>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput placeholder="¿Código?" formControlName="Code" maxlength="10" required>
        <!-- <mat-error *ngIf="validatePQ('P51')">
          {{ checkPQ('P51') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>¿Cual?</mat-label>
        <input matInput placeholder="¿Cual?" formControlName="Cual" maxlength="50" required>
        <!-- <mat-error *ngIf="validatePQ('P5_2')">
          {{ checkPQ('P5_2') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>¿Quién o quienes?</mat-label>
        <mat-chip-list #chipList aria-label="responsables">
          <mat-chip *ngFor="let responsable of responsables" (removed)="remove(responsable)">
            {{responsable}}
            <button matChipRemove>
              <mat-icon>cancelar</mat-icon>
            </button>
          </mat-chip>
          <input formControlName="Responsables" placeholder="nuevo.."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="row my-3">
  <div class="col">
    <button type='button' mat-raised-button class="bg-secondary"  (click)="agregar()">Agregar</button>
  </div>
</div>

<div class="mat-elevation-z8" *ngIf="this.mejoras.length > 0">
  <table mat-table class="full-width-table" [dataSource]="mejoras" matSort aria-label="Elements">
      <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
        <td mat-cell *matCellDef="let row">{{row.Codigo_Externo }}</td>
      </ng-container>

      <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mejoras</th>
          <td mat-cell *matCellDef="let row">{{row.Descripcion}}</td>
      </ng-container>

      <ng-container matColumnDef="Responsable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsables </th>
          <td mat-cell *matCellDef="let row">{{row.Responsable}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator>
</div>

