/* You can add global styles to this file, and also import other style files */
html, body {  margin: 0;  height: 100%; font-family: 'Inter', !important; }

mat-form-field {
  display: block !important;
  margin-right: 0px;
}

button{
  width: 100%;
}

.bg-primary {
  background-color: #1F9C3E !important;
}
.bg-secondary {
  background-color: #182748 !important;
  color: #FFFFFF !important;
}
.primary {
  color: #1F9C3E !important;
}

.center{
  display: block !important;
  text-align: center;
}

.snackbar {
  background: rgb(255, 255, 255);
}

.snackbar-error {
  background: rgba(180, 2, 2, 0.693);
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px 50px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25) !important;
  padding: 30px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 500px) {

  .row{
    flex-direction: column !important;
  }
}

.my-3{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mat-dialog-container{
  background-color: transparent !important;
  box-shadow: none !important;
}

.bg-white{
  background-color: #FFFFFF !important;
}
