/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  display: block !important;
  margin-right: 0px;
}

button{
  width: 100%;
}

.snackbar {
  background: rgb(255, 255, 255);
}

.snackbar-error {
  background: rgba(180, 2, 2, 0.693);
}