/* You can add global styles to this file, and also import other style files */
html, body {  margin: 0;  height: 100%; font-family: 'Inter', !important; }

mat-form-field {
  display: block !important;
  margin-right: 0px;
}

button{
  width: 100%;
}

.bg-primary {
  background-color: #1F9C3E !important;
}
.bg-secondary {
  background-color: #182748 !important;
  color: #FFFFFF !important;
}
.primary {
  color: #1F9C3E !important;
}

.center{
  display: block !important;
  text-align: center;
}

.snackbar {
  background: rgb(255, 255, 255);
}

.snackbar-error {
  background: rgba(180, 2, 2, 0.693);
}
