<mat-card class="shipping-card">
  <mat-card-content>
    <section class="example-section">
      <label class="example-margin center"> <h2> <b>Seleccione el metodo en el cual se investiga:</b></h2> </label>
      <div class="row" style="margin-top:20px">
        <div class="col center">
          <button class="example-margin btn-rounded bg-secondary" (click)="metodo('pq')">5 porque's</button>
        </div>
        <div class="col center">
          <button class="example-margin btn-rounded bg-secondary" (click)="metodo('ms')">5 Ms</button>
        </div>
      </div>
    </section>
  </mat-card-content>
</mat-card>
