<h1 mat-dialog-title> <strong>{{data.title}}</strong> </h1>
<div *ngIf="data.message != 'daño'">
  <div mat-dialog-content>
    <p>{{data.message}}</p>
  </div>
  <div>
    <div class="row">
      <div class="col">
        <button type='button' mat-button (click)="close()" class="bg-secondary"> Cerrar </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data.message == 'daño'">
  <div mat-dialog-content>
    <p><strong>EVENTO LEVE</strong></p>
    <p>Es aquel evento que produce lesión, pero no produce secuelas, no pone en riesgo la vida del paciente, no genera complicaciones.</p>

    <p><strong>EVENTO MODERADO</strong></p>
    <p>Es aquel que aunque produce complicaciones, estas son leves, no generan compromiso en los signos vitales ni ponen en riesgo la vida del paciente.</p>

    <p><strong>EVENTO GRAVE</strong></p>
    <p>Es aquel que produce secuelas, complicaciones y pone en riesgo la vida del paciente, requiere intervenciones inmediatas para estabilizar lesión, o generan pérdidas de funciones.</p>

    <p><strong>MUERTE</strong></p>
    <p>Es toda aquella muerte que es secundaria a intervenciones en el paciente o que se puede explicar por estas.</p>

    <p><strong> EVENTO PREVENIBLE</strong></p>
    <p>Eventos en los que se cometió un error no intencional durante la atención, se genera daño leve o este se puede corregir fácilmente.</p>

    <p><strong>EVENTO NO PREVENIBLE</strong></p>
    <p>Evento o resultado no esperado que se presenta a pesar del cumplimiento de los estándares y guías del cuidado asistencial.</p>

    <p><strong>EVENTO CENTINELA</strong></p>
    <p>Evento de gran magnitud, origina lesión o secuelas graves o muerte del paciente.</p>
  </div>
  <div>
    <div class="row">
      <div class="col">
        <button type='button' mat-button (click)="close()" class="bg-secondary"> Cerrar </button>
      </div>
    </div>
  </div>
</div>
