<div id="htmlData" class="container">
  <h1> <b> ESTUDIO DE INCIDENTES/ EVENTOS ADVERSOS/COMPLICACIONES </b></h1>
  <div class="row">
    <div class="col">
      <!-- <p> <span> <b>Fecha y hora:</b> </span> {{data?.Master.Fecha_Creacion | date:'dd/MM/yyyy, h:mm a'}}</p> -->
      <p> <span> <b>Historia clinica No:</b> </span> {{data?.Master.Numero_Id}}</p>
      <p> <span> <b>Fecha ingreso:</b> </span> {{data?.Master.Fecha_Incidente}} {{data?.Master.Hora_Incidente}}</p>
    </div>
    <div class="col">
      <p> <span> <b>No. de Reporte:</b> </span> {{data?.Master.Id}}</p>
      <p> <span> <b>Servicio/Unidad:</b> </span> {{data?.Master?.Servicio_Id_Join ?
        data?.Master.Servicio_Id_Join.Descripcion : ""}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> <span> <b>Iniciales del paciente:</b> </span> {{iniciales}}</p>
    </div>
    <div class="col">
      <p> <span> <b>Edad:</b> </span> {{data?.Master.Edad}}</p>
    </div>
    <div class="col">
      <p> <span> <b>Sexo:</b> </span> {{data?.Master.Sexo == "M" ? "Masculino" : "Femenino"}}</p>
    </div>
  </div>
  <h2 class="my-3"> <b> TIPO DE EVENTO ADVERSO </b></h2>
  <div class="row">
    <div class="col">
      <p> <span> <b>{{data?.Londres.Tipo_Adverso}}</b> </span></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> <span> {{data?.Londres.Select_Depende_Tipo}} </span></p>
    </div>
  </div>
  <h2 class="my-3"> <b> DESCRIPCION DETALLADA EVENTO ADVERSO </b></h2>
  <div class="row">
    <div class="col">
      <p> <span> <b>Como y que paso</b> </span></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> {{data?.Master.Preg_Que}}</p>
      <p> {{data?.Master.Preg_Como}}</p>
    </div>
  </div>
  <!-- <h2 class="my-3"> <b> ANÁLISIS DEL  EVENTO ADVERSO / COMPLICACIÓN  </b></h2>
  <div class="row">
    <div class="col">
      <p> <span> <b>Fecha</b> </span>{{data}}</p>
    </div>
    <div class="col">
      <p> <span> <b>Proceso</b> </span>{{data}}</p>
    </div>
  </div> -->
  <h2 class="my-3"> <b> FASE I: OBTENCIÓN Y ORGANIZACIÓN DE LA INFORMACIÓN </b></h2>
  <div class="row">
    <div class="col">
      <p> <span> <b>Investigadores</b> </span></p>
      <div *ngFor="let responsable of data?.Detalle.Responsables">
        <div class="row">
          <p>{{responsable}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <p> <span> <b>Medios para obtención de la información:</b> </span></p>
      <div class="row">
        <div class="col">
          <p> <span>{{data?.Londres.Fase1_Medio}}</span></p>
          <p> <span> <b>OBSERVACIONES: </b>{{data?.Londres.Fase1_Medio_Observaciones}}</span></p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col">
          <p> <span> <b> {{data?.Londres.Fase1_Medio_Observaciones}}</b></span></p>
          <p> <span> <b>1. Análisis de la Historia Clínica, Protocolos, Procedimientos: </b> </span>
            {{data?.Londres.Fase1_Analisis}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> <span> <b>2. Entrevista a las personas que intervienen en el proceso: </b> </span>
            {{data?.Londres.Fase1_Entrevista}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> <span> <b>3. Otros mecanismos como: Declaraciones, Observaciones, etc: </b> </span>
            {{data?.Londres.Fase1_Otros_Mecanismos}}</p>
        </div>
      </div> -->
    </div>
  </div>
  <h2 class="my-3"> <b> CRONOLOGÍA DEL INCIDENTE O EVENTO ADVERSO </b></h2>
  <div class="row">
    <div class="col">
      <p> {{data?.Londres.Fase1_Cronologia}}</p>
    </div>
  </div>
  <h2 class="my-3"> <b> FASE II: ÁRBOL DEL PROBLEMA </b></h2>
  <div class="row">
    <div class="col">
      <p> <b>ACCIONES INSEGURAS</b> </p>
      {{data?.Londres.Fase2_Acciones_Inseguras}}
    </div>
    <div class="col">
      <p> <b>FACTORES CONTRIBUTIVOS</b> </p>
      <div class="row">
        <div class="col">
          <p> <span> <b>EQUIPO: </b> </span> {{data?.Londres.Fase2_Equipo}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> <span> <b>INDIVDUO: </b> </span> {{data?.Londres.Fase2_Individuo}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> <span> <b>ADMINISTRATIVOS: </b> </span> {{data?.Londres.Fase2_Administrativos}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> <span> <b>TAREAS Y TECNOLOGIAS: </b> </span> {{data?.Londres.Fase2_Tareas}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> <span> <b>PACIENTE: </b> </span> {{data?.Londres.Fase2_Paciente}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <p> <b>OBSERVACIONES</b> </p>
      <div class="row">
        <div class="col">
          <p> {{data?.Londres.Fase2_Equipo_Observaciones}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> {{data?.Londres.Fase2_Individuo_Observaciones}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> {{data?.Londres.Fase2_Administrativos_Observaciones}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> {{data?.Londres.Fase2_Tareas_Observaciones}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p> {{data?.Londres.Fase2_Paciente_Observaciones}}</p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="my-3"> <b> FASE II: ANALISIS DEL PROBLEMA </b></h2>
  <div class="row">
    <div class="col">
      <p> {{data?.Londres.Fase2_Analisis_Problema}} </p>
    </div>
  </div>
  <h2 class="my-3"> <b> FASE III: CLASIFICACION SEGÚN ANALISIS </b></h2>
  <div class="row">
    <div class="col">
      <p> <span> <b>Complicación / Incidente / Otro: </b> </span> {{data?.Londres.Fase3_Complicacion}}</p>
    </div>
    <div class="col">
      <p> <span> <b>Evidencia de posibilidad de prevencion del incidente: </b> </span>
        {{data?.Londres.Evento_Adverso_Estado}}</p>
    </div>
    <div class="col">
      <p> <span> <b>Gravedad del evento adverso: </b> </span> {{data?.Londres.Evento_Adverso_Tipo}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> <span> <b>Fue abordada la segunda victima: </b> </span> {{data?.Londres.Fase3_Preg_Segunda}}</p>
    </div>
    <div class="col">
      <p> <span> <b>Fue abordada la tercera victima: </b> </span> {{data?.Londres.Fase3_Preg_Tercera}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> <span> <b>Que acciones se tomaron frente a la segunda victima: </b> </span>
        {{data?.Londres.Fase3_Acciones_Segunda}}</p>
    </div>
    <div class="col">
      <p> <span> <b>Que acciones se tomaron frente a la tercera victima: </b> </span>
        {{data?.Londres.Fase3_Acciones_Tercera}}</p>
    </div>
  </div>
  <h2 class="my-3"> <b> FASE IV: OPORTUNIDADES DE MEJORA </b></h2>
  <div *ngIf="data?.OpcionesMejora.length > 0">
    <div *ngFor="let oportunidad of data.OpcionesMejora">
      <div class="row">
        <p> <span> <b>Codigo Externo:</b> </span>{{oportunidad.Codigo_Externo}}</p>
        <p> <span> <b>Responsable:</b> </span>{{oportunidad.Responsable}}</p>
        <p> <span> <b>Porcentaje:</b> </span>{{oportunidad.Porcentaje_Mejora}}</p>
        <p> <span> <b>Mejora:</b> </span>{{oportunidad.Descripcion}}</p>
        <p> <span>
            <hr class="w-2">
          </span></p>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="loadingMain" mode="indeterminate"></mat-progress-bar>
<div class="container row my-3">
  <button type='button' mat-raised-button color="warn" [disabled]="loadingMain" (click)="download()">Descargar</button>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
</div>