<form novalidate (ngSubmit)="submit()" [formGroup]="form">
  <h2> <b> Investigación 5Porque`s </b></h2>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>¿Por qué?</mat-label>
        <input matInput placeholder="¿Por qué?" formControlName="P5_1" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('P51')">
          {{ check('P51') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>¿Por qué?</mat-label>
        <input matInput placeholder="¿Por qué?" formControlName="P5_2" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('P5_2')">
          {{ check('P5_2') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>¿Por qué?</mat-label>
        <input matInput placeholder="¿Por qué?" formControlName="P5_3" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('P5_3')">
          {{ check('P5_3') }}
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>¿Por qué?</mat-label>
        <input matInput placeholder="¿Por qué?" formControlName="P5_4" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('P5_4')">
          {{ check('P5_4') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>¿Por qué?</mat-label>
        <input matInput placeholder="¿Por qué?" formControlName="P5_5" maxlength="50" required>
        <!-- <mat-error *ngIf="validate('P5_5')">
          {{ check('P5_5') }}
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type='button' mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    </div>
    <div class="col" *ngIf="!realizado">
      <button mat-raised-button class="bg-primary" type="submit" style="color: #fff">Enviar</button>
    </div>
  </div>
</form>
<div class="row my-3">
  <!-- <div class="col" *ngIf="realizado">
    <button mat-button class="bg-secondary" style="margin-bottom: 10px" (click)="borrar()">Borrar</button>
  </div> -->
  <div class="col">
    <button type='button' mat-raised-button class="bg-secondary" (click)="mejoras()">Oportunidades Mejoras</button>
  </div>
</div>