<form novalidate (ngSubmit)="submit()" [formGroup]="form">
  <h2> <b> Oportunidades de mejora {{this.masterId}}</b></h2>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-select placeholder="Responsable" formControlName="Responsable">
          <mat-option *ngFor="let data of responsables" [value]="data.Id">
            {{ data.NombreCompleto }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="validate('Responsable')">
          {{ check('Responsable') }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput #oportunidad placeholder="¿Cual?" formControlName="Descripcion" maxlength="500"
          required></textarea>
        <mat-hint align="end">{{oportunidad.value.length}} / 500</mat-hint>
        <mat-error *ngIf="validate('Descripcion')">
          {{ check('Descripcion') }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <button type='submit' mat-raised-button class="bg-primary">Agregar</button>
    </div>
  </div>
</form>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
</div>
<!-- {{this.form.value | json}} -->