<mat-card class="shipping-card">
  <mat-card-header class="center">
    <mat-card-title> <h2> <b> Evento adverso </b></h2> </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <label class="example-margin center"> <h2> <b>Tipo:</b></h2> </label>
      <div class="row" style="margin-top:20px">
        <div class="col center my-3">
          <button class="example-margin btn-rounded bg-secondary" (click)="tipo('leve')">Leve</button>
        </div>
        <div class="col center my-3">
          <button class="example-margin btn-rounded bg-secondary" (click)="tipo('moderado')">Moderado</button>
        </div>
        <div class="col center my-3">
          <button class="example-margin btn-rounded bg-secondary" (click)="tipo('grave')">Grave</button>
        </div>
      </div>
    </section>
    <section class="example-section">
      <label class="example-margin center"> <h2> <b>Estado:</b></h2> </label>
      <div class="row" style="margin-top:20px">
        <div class="col center my-3">
          <button class="example-margin btn-rounded bg-secondary" (click)="estado('prevenible')">Prevenible</button>
        </div>
        <div class="col center my-3">
          <button class="example-margin btn-rounded bg-secondary" (click)="estado('noPrevenible')">No prevenible</button>
        </div>
      </div>
    </section>
  </mat-card-content>
</mat-card>
