<form novalidate (ngSubmit)="submit()" [formGroup]="form">
    <h2> <b> Agregar accion a {{this.idOportunity}}</b></h2>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Accion</mat-label>
                <input matInput placeholder="Accion" formControlName="Accion" maxlength="100" required>
                <mat-error *ngIf="validate('Accion')">
                    {{ check('Accion') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-select placeholder="Responsable" formControlName="Responsable">
                    <mat-option *ngFor="let data of responsables" [value]="data.Id">
                        {{ data.NombreCompleto }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="validate('Responsable')">
                    {{ check('Responsable') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="FechaInicio" placeholder="Fecha Inicial">
                    <input matEndDate formControlName="FechaFin" placeholder="Fecha Final">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Evidencia</mat-label>
                <input matInput placeholder="Evidencia" formControlName="EvidenciaCierre" maxlength="100" required>
                <mat-error *ngIf="validate('EvidenciaCierre')">
                    {{ check('EvidenciaCierre') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
<!-- {{this.form.value | json}} -->

<div class="row my-3">
    <div class="col">
        <button type='button' mat-raised-button class="bg-secondary" (click)="submit()">Agregar</button>
    </div>
</div>

<!-- <ng-container matColumnDef="Codigo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
    <td mat-cell *matCellDef="let row">{{row.Codigo_Externo }}</td>
  </ng-container> -->
<!-- <div class="mat-elevation-z8" *ngIf="this.actions.length > 0">
    <table #table mat-table class="full-width" [dataSource]="actions" matSort aria-label="Elements">

        <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mejoras</th>
            <td mat-cell *matCellDef="let row">{{row.Descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="Accion">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row"> <button mat-raised-button color="warn"
                    (click)="eliminar(row.Codigo_Externo)">Eliminar</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="actions?.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
</div>

<div class="row my-3" *ngIf="this.actions.length > 0">
    <div class="col">
        <button type='button' mat-raised-button class="bg-primary" (click)="submit()">Enviar</button>
    </div>
</div> -->