<form novalidate (ngSubmit)="submit()" [formGroup]="form">
    <h2> <b> Agregar accion a {{this.idOportunity}}</b></h2>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Accion</mat-label>
                <input matInput placeholder="Accion" formControlName="Accion" maxlength="100" required>
                <mat-error *ngIf="validate('Accion')">
                    {{ check('Accion') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-select placeholder="Responsable" formControlName="Responsable">
                    <mat-option *ngFor="let data of responsables" [value]="data.Id">
                        {{ data.NombreCompleto }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="validate('Responsable')">
                    {{ check('Responsable') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="FechaInicio" placeholder="Fecha Inicial">
                    <input matEndDate formControlName="FechaFin" placeholder="Fecha Final">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Evidencia</mat-label>
                <input matInput placeholder="Evidencia" formControlName="EvidenciaCierre" maxlength="100" required>
                <mat-error *ngIf="validate('EvidenciaCierre')">
                    {{ check('EvidenciaCierre') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
<!-- {{this.form.value | json}} -->

<div class="row my-3">
    <div class="col">
        <button type='button' mat-raised-button class="bg-secondary" (click)="submit()">Agregar</button>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
</div>