<nb-layout>
    <nb-layout-column></nb-layout-column>
    <nb-layout-column class="colored-column-success">

        <nb-layout-header>LOGIN</nb-layout-header>
        <nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="success">
            <nb-card-body class="example-items-col">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <input type="text" formControlName="Correo" nbInput fullWidth status="basic" fieldSize="medium"
                        placeholder="Usuario">
                    <br><br>
                    <nb-form-field>
                        <input fullWidth formControlName="Clave" [type]="showPassword ? 'password' : 'text'" nbInput
                            fieldSize="medium" placeholder="Clave">
                        <button nbSuffix nbButton ghost (click)="this.showPassword = !this.showPassword">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                                [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>
                    <br>
                    <button nbButton fullWidth status="primary" [disabled]="!loginForm.valid">LOGIN</button>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>

    <nb-layout-column></nb-layout-column>

</nb-layout>