<ng-container *ngIf="loadingMain">
    <p style="margin-top: 20px; margin-left: 20px;">Cargando...</p>
</ng-container>
<ng-container *ngIf="!loadingMain">
    <div class="row">
        <div class="col">
            <div class="mat-elevation-z8">
                <p class="">Listado actual</p>
                <table mat-table class="full-width" [dataSource]="datos" matSort aria-label="Elements">
                    <ng-container matColumnDef="Responsable">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsable</th>
                        <td mat-cell *matCellDef="let row">{{row.Responsable}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Descripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Oportunidad</th>
                        <td mat-cell *matCellDef="let row">{{row.Descripcion}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Porcentaje_Mejora">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>porcentaje</th>
                        <td mat-cell *matCellDef="let row">{{row.Porcentaje_Mejora}}%</td>
                    </ng-container>
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-raised-button *ngIf="row.Porcentaje_Mejora<100" color="primary"
                                (click)="addOportunityToTable(row)">Agregar</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="totalObjects > 0">
                    <mat-paginator #paginator showFirstLastButtons [length]="totalObjects" [pageIndex]="pageIndex"
                        [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"
                        (page)="pageEvent($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- <mat-form-field appearance="fill">
                <mat-label>Toppings</mat-label>
                <mat-select multiple [(ngModel)]="oportunidad" placeholder="Tipo de novedad">
                    <mat-option *ngFor="let oportunity of datos" [value]="oportunity">{{ oportunity.Descripcion
                        }}</mat-option>
                </mat-select>
            </mat-form-field> 
            <button mat-button class="bg-primary" style="margin-bottom: 10px"
                (click)="addOportunityToTable()">Agregar</button>-->
            {{datos2 | json}}
            <ng-container *ngIf="datos2.length > 0 && loanding2 === false">
                <table mat-table class="full-width" [dataSource]="datos2" matSort aria-label="Elements">
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Responsable">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsable</th>
                        <td mat-cell *matCellDef="let row">{{ row.Responsable }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Descripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Oportunidad</th>
                        <td mat-cell *matCellDef="let row">{{ row.Descripcion }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Porcentaje_Mejora">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</th>
                        <td mat-cell *matCellDef="let row">{{ row.Porcentaje_Mejora }}%</td>
                    </ng-container>
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            <button mat-raised-button color="danger" (click)="elimiarFromTable(i)">Eliminar</button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns2;"></tr>
                </table>
                <!-- <button mat-raised-button style="margin-bottom: 10px; margin-top: 10px" color="primary"
                    (click)="submit()">Guardar</button> -->
            </ng-container>

        </div>
    </div>
</ng-container>