<mat-toolbar class="bg-primary">
  <!-- <span>Salud Social</span> -->
</mat-toolbar>
<form novalidate (ngSubmit)="submit()" [formGroup]="form">
  <mat-card class="shipping-card">
    <mat-card-header class="center">
      <mat-card-title> <h2> <b> Reporte de seguridad del paciente </b></h2> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Fecha del incidente</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="validate('fecha')">
              {{ check('fecha') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Hora del incidente</mat-label>
            <input matInput type="time" formControlName="hora" required>
            <mat-error *ngIf="validate('hora')">
              {{ check('hora') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de quien reporta</mat-label>
            <input matInput placeholder="Nombre de quien reporta" formControlName="nombre" maxlength="50" required>
            <mat-error *ngIf="validate('nombre')">
              {{ check('nombre') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cargo de quien reporta</mat-label>
            <input matInput placeholder="Cargo de quien reporta" formControlName="cargo" maxlength="30" required>
            <mat-error *ngIf="validate('cargo')">
              {{ check('cargo') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Empresa a la cual pertenece</mat-label>
            <mat-select formControlName="empresa" placeholder="Empresa a la cual pertenece" required>
              <mat-option *ngFor="let c of combosService.comboEmpresas" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('empresa')">
              {{ check('empresa') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sede donde se presento el incidente</mat-label>
            <mat-select formControlName="sede" placeholder="Sede donde presento el incidente" required>
              <mat-option *ngFor="let c of combosService.comboEmpresas" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('sede')">
              {{ check('sede') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre completo del paciente</mat-label>
            <input matInput placeholder="Nombre completo del paciente" formControlName="paciente" maxlength="50" required>
            <mat-error *ngIf="validate('paciente')">
              {{ check('paciente') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Tipo de identificación</mat-label>
            <mat-select formControlName="tipoDocumento" placeholder="Tipo de identificación" required>
              <mat-option *ngFor="let c of combosService.comboIdentificacion" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('tipoDocumento')">
              {{ check('tipoDocumento') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>No. de identificación</mat-label>
            <input matInput placeholder="No. de identificación" formControlName="documento" maxlength="11" required>
            <mat-error *ngIf="validate('documento')">
              {{ check('documento') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo" placeholder="Sexo" required>
              <mat-option *ngFor="let c of combosService.comboSexo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="validate('sexo')">
            {{ check('sexo') }}
          </mat-error>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Edad</mat-label>
            <input type="number" matInput placeholder="Edad" formControlName="edad" required>
          </mat-form-field>
          <mat-error *ngIf="validate('edad')">
            {{ check('edad') }}
          </mat-error>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Tipo de novedad de seguridad</mat-label>
            <mat-select placeholder="Tipo de novedad de seguridad" formControlName="novedad" required>
              <mat-option *ngFor="let c of combosService.comboNovedades" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="validate('novedad')">
            {{ check('novedad') }}
          </mat-error>
        </div>
      </div>
      <h3>Describa la situacion presentada respondiendo con las siguientes preguntas</h3>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Qué pasó?</mat-label>
            <input matInput placeholder="¿Qué pasó?" formControlName="quePaso" required maxlength="50">
            <mat-error *ngIf="validate('quePaso')">
              {{ check('quePaso') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Cómo pasó?</mat-label>
            <input matInput placeholder="¿Cómo pasó?" formControlName="comoPaso" required maxlength="50">
            <mat-error *ngIf="validate('comoPaso')">
              {{ check('comoPaso') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Hubo testigos?</mat-label>
            <mat-select formControlName="huboTestigos" placeholder="¿Hubo testigos?" required>
              <mat-option *ngFor="let c of combosService.comboSiNo" value={{c.Id}} (click)="viewTestigos(c.Id)">{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('huboTestigos')">
              {{ check('huboTestigos') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="hayTestigos">
          <mat-form-field appearance="outline">
            <mat-label>¿Quién o quienes?</mat-label>
            <mat-chip-list #chipList aria-label="Testigos">
              <mat-chip *ngFor="let testigo of testigos" (removed)="remove(testigo)">
                {{testigo.name}}
                <button matChipRemove>
                  <mat-icon>cancelar</mat-icon>
                </button>
              </mat-chip>
              <input formControlName="testigos" placeholder="nuevo.."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Se produjo durante el proceso de atención?</mat-label>
            <mat-select formControlName="seProdujo" placeholder="¿Se produjo durante el proceso de atención?" required>
              <mat-option *ngFor="let c of combosService.comboSiNo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('seProdujo')">
              {{ check('seProdujo') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Fue involuntario?</mat-label>
            <mat-select formControlName="involuntario" placeholder="¿Fue involuntario?" required>
              <mat-option *ngFor="let c of combosService.comboSiNo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('involuntario')">
              {{ check('involuntario') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Generó daño en el paciente?</mat-label>
            <mat-select formControlName="generoDanos" placeholder="¿Generó daño en el paciente?" required>
              <mat-option *ngFor="let c of combosService.comboSiNo" value={{c.Id}} (click)="viewDano(c.Id)">{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('generoDanos')">
              {{ check('generoDanos') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="hayDanos">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Qué daño genero el paciente?</mat-label>
              <input matInput placeholder="¿Qué daño genero el paciente?" formControlName="dano" maxlength="30">
            <mat-error *ngIf="validate('dano')">
              {{ check('dano') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="hayDanos">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Severidad del daño</mat-label>
            <mat-select formControlName="severidad" placeholder="Severidad del daño">
              <mat-option *ngFor="let c of combosService.comboSeveridad" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('severidad')">
              {{ check('severidad') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Accion inmediatamente tomada</mat-label>
            <input matInput placeholder="Accion inmediatamente tomada" formControlName="accionTomada" required maxlength="50">
            <mat-error *ngIf="validate('accionTomada')">
              {{ check('accionTomada') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Adjuntar evidencias (imagenes, fotos)</mat-label>
            <input matInput formControlName="evidencias" placeholder="Adjuntar evidencias (imagenes, fotos)">
            <mat-error *ngIf="validate('evidencias')">
              {{ check('evidencias') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col">
          <button type='button' mat-raised-button color="warn" (click)="cancelar(false)">Cancelar</button>
        </div>
        <div class="col">
          <button mat-raised-button class="bg-primary" type="submit" style="color: #fff">Enviar</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
