.altura{
  max-height: 40px  !important;
  height: 40px  !important;
}
.banner {
  width: 100%;
  height: 250px;
  background-image: url(src/assets/images/fondo1.jpg) !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
