<div class="banner">

</div>
<form novalidate (ngSubmit)="submit()" [formGroup]="form">
  <mat-card class="">
    <mat-card-header class="center">
      <mat-card-title>
        <h2> <b> Reporte de seguridad del Paciente </b></h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Fecha del incidente</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="Fecha_Incidente" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="validate('Fecha_Incidente')">
              {{ check('Fecha_Incidente') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Hora_Incidente del incidente</mat-label>
            <input matInput type="time" formControlName="Hora_Incidente" required>
            <mat-error *ngIf="validate('Hora_Incidente')">
              {{ check('Hora_Incidente') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de quien reporta</mat-label>
            <input matInput placeholder="Nombre de quien reporta" formControlName="Nombre_Quien_Reporta" maxlength="50">
            <mat-error *ngIf="validate('Nombre_Quien_Reporta')">
              {{ check('Nombre_Quien_Reporta') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cargo de quien reporta</mat-label>
            <input matInput placeholder="Cargo de quien reporta" formControlName="Cargo_Quien_Reporta" maxlength="30">
            <mat-error *ngIf="validate('Cargo_Quien_Reporta')">
              {{ check('Cargo_Quien_Reporta') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Empresa a la cual pertenece</mat-label>
            <mat-select formControlName="Empresa" placeholder="Empresa a la cual pertenece" required>
              <mat-option *ngFor="let c of empresas" value={{c.Id}}
                (click)="cargarDatosEmpresa(c.Id)">{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Empresa')">
              {{ check('Empresa') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-progress-bar *ngIf="loandingCargaSedes || loandingCargaServicios"
            mode="indeterminate"></mat-progress-bar>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sede donde se presento el incidente</mat-label>
            <mat-select [disabled]="loandingCargaSedes" formControlName="Sede"
              placeholder="Sede donde presento el incidente" required>
              <mat-option *ngFor="let c of sedes" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Sede')">
              {{ check('Sede') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Servicios</mat-label>
            <mat-select formControlName="Servicio_Id" placeholder="Servicio" required>
              <mat-option *ngFor="let c of servicios" value={{c.Id}}
                (click)="viewOtroServicio(c.Id)">{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Servicio_Id')">
              {{ check('Servicio_Id') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="form.value.Servicio_Id == 1">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Otro servicio</mat-label>
            <textarea matInput #Otro_Servicio placeholder="Especifique el otro servicio" formControlName="Otro_Servicio"
              required maxlength="200"></textarea>
            <mat-hint align="end">{{Otro_Servicio.value.length}} / 200</mat-hint>
            <mat-error *ngIf="validate('Otro_Servicio')">
              {{ check('Otro_Servicio') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline" style="padding-bottom: 0px !important">
            <mat-label>Tipo de novedad de seguridad</mat-label>
            <mat-select placeholder="Tipo de novedad de seguridad" formControlName="Tipo_Novedad" required>
              <mat-option *ngFor="let c of novedades" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="validate('Tipo_Novedad')">
            {{ check('Tipo_Novedad') }}
          </mat-error>
        </div>
        <div class="col" style="max-width: 20px;">
          <a type="button" (click)="info_Novedad()"><mat-icon>info</mat-icon></a>
        </div>
      </div>
      <div class="row>">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre completo del paciente</mat-label>
            <input matInput placeholder="Nombre completo del paciente" class="upper" formControlName="Nombre_Paciente"
              maxlength="50" required>
            <mat-error *ngIf="validate('Nombre_Paciente')">
              {{ check('Nombre_Paciente') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Tipo de identificación</mat-label>
            <mat-select formControlName="Tipo_Id" placeholder="Tipo de identificación" required>
              <mat-option *ngFor="let c of identificaciones" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Tipo_Id')">
              {{ check('Tipo_Id') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>No. de identificación</mat-label>
            <input matInput placeholder="No. de identificación" formControlName="Numero_Id" maxlength="11" required>
            <mat-error *ngIf="validate('Numero_Id')">
              {{ check('Numero_Id') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="Sexo" placeholder="Sexo" required>
              <mat-option *ngFor="let c of comboService.comboSexo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="validate('Sexo')">
            {{ check('Sexo') }}
          </mat-error>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Edad</mat-label>
            <input type="number" matInput placeholder="Edad" formControlName="Edad" required>
          </mat-form-field>
          <mat-error *ngIf="validate('Edad')">
            {{ check('Edad') }}
          </mat-error>
        </div>
        <div class="col">
          <mat-checkbox placeholder="Edad en meses" formControlName="EdadMeses" (change)="validarEdad($event)">Edad en
            meses?</mat-checkbox>
        </div>
      </div>
      <h3>Describa la situacion presentada respondiendo con las siguientes preguntas</h3>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Qué pasó?</mat-label>
            <textarea matInput #Preg_Que placeholder="¿Qué pasó?" formControlName="Preg_Que" required
              maxlength="300"></textarea>
            <mat-hint align="end">{{Preg_Que.value.length}} / 300</mat-hint>
            <mat-error *ngIf="validate('Preg_Que')">
              {{ check('Preg_Que') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Cómo pasó?</mat-label>
            <textarea matInput #Preg_Como placeholder="¿Cómo pasó?" formControlName="Preg_Como" required
              maxlength="500"></textarea>
            <mat-hint align="end">{{Preg_Como.value.length}} / 500</mat-hint>
            <mat-error *ngIf="validate('Preg_Como')">
              {{ check('Preg_Como') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Hubo testigos?</mat-label>
            <mat-select formControlName="Preg_Hay_Testigos" placeholder="¿Hubo testigos?" required>
              <mat-option *ngFor="let c of comboService.comboSiNo" value={{c.Id}}
                (click)="viewTestigos(c.Id)">{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Preg_Hay_Testigos')">
              {{ check('Preg_Hay_Testigos') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="hayTestigos">
          <mat-form-field appearance="outline">
            <mat-label>¿Quién o quienes?</mat-label>
            <mat-chip-list #chipList aria-label="Testigos">
              <mat-chip *ngFor="let testigo of testigos" (removed)="remove(testigo)">
                {{testigo}}
                <button matChipRemove>
                  <mat-icon>cancelar</mat-icon>
                </button>
              </mat-chip>
              <input formControlName="Preg_Quien" placeholder="nuevo.." [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Se produjo durante el proceso de atención?</mat-label>
            <mat-select formControlName="Preg_En_Atencion" placeholder="¿Se produjo durante el proceso de atención?"
              required>
              <mat-option *ngFor="let c of comboService.comboSiNo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Preg_En_Atencion')">
              {{ check('Preg_En_Atencion') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Fue involuntario?</mat-label>
            <mat-select formControlName="Preg_Involuntario" placeholder="¿Fue involuntario?" required>
              <mat-option *ngFor="let c of comboService.comboSiNo" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Preg_Involuntario')">
              {{ check('Preg_Involuntario') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Generó daño en el paciente?</mat-label>
            <mat-select formControlName="Preg_Genero_Dano" placeholder="¿Generó daño en el paciente?" required>
              <mat-option *ngFor="let c of comboService.comboSiNo" value={{c.Id}}
                (click)="viewDano(c.Id)">{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Preg_Genero_Dano')">
              {{ check('Preg_Genero_Dano') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="hayDanos">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>¿Qué daño genero?</mat-label>
            <input matInput placeholder="¿Qué daño genero?" formControlName="Preg_Dano_Generado" maxlength="30">
            <mat-error *ngIf="validate('Preg_Dano_Generado')">
              {{ check('Preg_Dano_Generado') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="hayDanos">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Severidad del daño </mat-label>
            <mat-select formControlName="Preg_Dano_Severidad" placeholder="Severidad del daño">
              <mat-option *ngFor="let c of comboService.comboSeveridad" value={{c.Id}}>{{c.Descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validate('Preg_Dano_Severidad')">
              {{ check('Preg_Dano_Severidad') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="hayDanos" style="max-width: 20px !important;">
          <a type="button" (click)="info_Severidad()"><mat-icon>info</mat-icon></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Accion inmediatamente tomada</mat-label>
            <textarea matInput #Accion_Tomada placeholder="Accion inmediatamente tomada" formControlName="Accion_Tomada"
              required maxlength="500"></textarea>
            <mat-hint align="end">{{Accion_Tomada.value.length}} / 500</mat-hint>
            <mat-error *ngIf="validate('Accion_Tomada')">
              {{ check('Accion_Tomada') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-label>Adjuntar evidencia (imagen, foto)</mat-label>
          <ul>
            <li *ngFor="let file of files">
              <span id="file-label">
                {{file.data.name}}
              </span>
            </li>
          </ul>
          <!-- <button type="button" mat-raised-button (click)="fileInput.click()">Seleccionar</button> -->
          <button type="button" mat-raised-button (click)="cargar()">Seleccionar</button>
          <br>
          <button *ngIf="this.files.length > 0" type="button" color="warn" mat-raised-button
            (click)="borrararchivos()">Borrar archivos</button>
          <!-- <input hidden (change)="seleccionarImagen($event)" #fileInput accept="image/*" type="file"> -->
          <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple"
            accept=".jpg,.pdf,.zip,.rar" style="display:none;" />
          <br>
          <span class="file-name my-3" *ngIf="imagen">Archivo seleccionado: {{imagen?.name}}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-progress-bar *ngIf="loadingMain" mode="indeterminate"></mat-progress-bar>
      <div class="row my-3">
        <div class="col">
          <div class="col">
            <button type='button' mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
          </div>
        </div>
        <div class="col">
          <button mat-button class="bg-primary" [disabled]="loadingMain || !form.valid" type="submit"
            style="color: #fff">Enviar</button>
        </div>
      </div>
      <br>
      <a class="secondary my-3" [routerLink]="['/login']" target="_blank">Iniciar sesion</a>
    </mat-card-actions>
  </mat-card>
</form>