<form novalidate (ngSubmit)="submit()" [formGroup]="form">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Oportunidades de mejora</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-progress-bar *ngIf="loadingMain" mode="indeterminate"></mat-progress-bar>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput placeholder="Codigo externo"
                            formControlName="Codigo_Externo" maxlength="30">
                        <mat-error *ngIf="validate('Codigo_Externo')">
                            {{ check('Codigo_Externo') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Ingresa la fecha</mat-label>
                        <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                            <input matStartDate formControlName="Start_Date" (dateChange)="cambioFecha()"
                                placeholder="fecha Inicio">
                            <input matEndDate formControlName="End_Date" (dateChange)="cambioFecha()"
                                placeholder="fecha Fin">
                        </mat-date-range-input>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-select placeholder="Responsable" formControlName="Responsable">
                            <mat-option *ngFor="let data of responsables" [value]="data.Usuario">
                                {{ data.NombreCompleto }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="validate('Responsable')">
                            {{ check('Responsable') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- {{ form.value | json}} -->
        </mat-card-content>
        <mat-card-actions>
            <div class="row">
                <div class="col">
                    <button type='button' mat-raised-button color="warn" [disabled]="loadingMain"
                        (click)="cancelar()">Limpiar</button>
                </div>
                <div class="col">
                    <button mat-raised-button color="primary" [disabled]="loadingMain" type="submit">Consultar</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</form>

<div class="mat-elevation-z8" *ngIf="this.datos.length > 0">
    <table mat-table class="full-width-table" [dataSource]="datos" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="externo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo externo</th>
            <td mat-cell *matCellDef="let row">{{row.Codigo_Externo}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="responsable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsable</th>
            <td mat-cell *matCellDef="let row">{{row.Responsable}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="oportunidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Oportunidad</th>
            <td mat-cell *matCellDef="let row">{{row.Descripcion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="porcentaje">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>porcentaje</th>
            <td mat-cell *matCellDef="let row">{{row.Porcentaje_Mejora}}%</td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary"
                    (click)="edit(row.Id)">Editar</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="datos?.data?.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>
