<form (ngSubmit)="submit()" [formGroup]="myForm" [nbSpinner]="loadingMain" nbSpinnerSize="giant" nbSpinnerStatus="success">
  <div class="row">
    <div class="col">
      <label>Descripción</label>
      <input type="text" formControlName="descripcion" maxlength="50" [status]="validate('descripcion') ? 'danger' : 'primary'" nbInput fullWidth fieldSize="small" shape="semi-round" placeholder="Ingrese una descripción">
      <div class="text-danger" *ngIf="validate('descripcion')">
        {{ check('descripcion') }}
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-3">
      <button nbButton (click)="cancelar(false)" fullWidth shape="semi-round" status="warning">Cancelar</button>
    </div>
    <div class="col-12 col-md-3">
      <button nbButton [disabled]="!myForm.valid" fullWidth shape="semi-round" status="success">Crear</button>
    </div>
  </div>
</form>
